<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145854518267-kccr8uifigigevmpevouq0ktgg21fcph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145854518267-kccr8uifigigevmpevouq0ktgg21fcph</string>
	<key>API_KEY</key>
	<string>AIzaSyBiD1dnr4B9npCyptE-Kuu4EobdZ1JfIw4</string>
	<key>GCM_SENDER_ID</key>
	<string>145854518267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackpan.EyelidDivination-ios</string>
	<key>PROJECT_ID</key>
	<string>eyeliddivination</string>
	<key>STORAGE_BUCKET</key>
	<string>eyeliddivination.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145854518267:ios:1fb2c08a729b269181f15e</string>
</dict>
</plist>